.nav-container {
    background-color: brown;
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;

}

.nav-container a {
    color: white;
    font-size: larger;
    text-decoration: none;
    margin-left: 20px;
}

.nav-container a:hover {
    color: orange;
}